.modal {
  position: fixed;
  z-index: 1000;
  max-width: 600px;
  bottom: 0;
  padding: 1%;
}

.modal .modal-body {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  left: -1000px;
  transition: all 1s;
}

.modal .opened {
  padding: 10px;
  min-width: 230px;
  left: 0;
  transition: all 1s;
}

.modal .error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.modal .success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
